body {
    font-family: 'Lexend', sans-serif;
    background: #f6f6f8;
    padding-bottom: 90px;
}

.bi{
    font-size: 20px;
}

.video-box {
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.video-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.4);
}

.play-btn {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn i {
    font-size: 3rem;
    background: #135bec;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
}

.badge-xs {
    font-size: 10px;
    font-weight: 700;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid #ddd;
    padding: 12px 20px;
    z-index: 100;
}

.btn a{
    text-decoration: none;
    color: black;
}